<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <h3>Edit Your Listing</h3>
        <input type="text" name="listings[title]" value="<%= listing.title %>"> <br><br>
        <textarea name="listings[description]"><%= listing.description %></textarea> <br><br>
        <input type="image" name="listings[image]" value="<%= listing.image %>"> <br><br>
        <input type="number" name="listings[price]" value="<%= listing.price %>"> <br><br>
        <input type="text" name="listings[location]" value="<%= listing.location %>"> <br><br>
        <input type="text" name="listings[country]" value="<%= listing.country %>"> <br><br>
        <button type="submit">Update Listing</button>
    </form>
    
</body>
</html>